/* CSS Document */

html {
	background: #333;
	height:100%;
	min-height:100%;
	
}
body {
	width: 50%;
	margin: 5em auto;
	font: 100%/1.125em Arial, Helvetica;
	color: #333;
	min-height: 500px;
	padding: 0;
}
.wrapper  {
	padding: 2em;
	margin-top: 2em;
	border:2px dashed #fff;
		overflow:auto;
}

h1 {
	color: #fff;
	margin: 0;
	font-weight: 100;
	font-size:2em
}

h2 {
	margin: 0;
	font-weight: 100;
	font-size:1.325em
}
.texte {
	color:#fff;
	float:right;	

	padding: 5em 2em;
	width: 45%;}
.code{font-size:.9em}

.wrapper.border-box  {
	background: #3b5b82 url(../images/totem.jpg) no-repeat left top;
	background-clip: border-box;
}
.wrapper.cover .texte  {
	float:right;

}

.wrapper.padding-box  {
	background: #3b5b82 url(../images/totem.jpg) no-repeat left top ;
	background-clip: padding-box}

.wrapper.content-box  {
	background: #3b5b82 url(../images/totem.jpg) no-repeat left top;
	background-clip: content-box;
}

